.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(42, 63, 95);
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 3% 2% 3% 2%;
}

.colName {
  display: grid;
  grid-template-columns: 19% 38% 36% 8%;
  padding: 0 2% 0 1%;
  margin-bottom: 3%;
}

.historyOfPayments button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.colName p {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1px;
  color: rgb(42, 63, 95);
}

.number-of-history,
.date-of-history,
.amount-of-history {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.headersOfPages {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 4%;
  margin-top: 2%;
}
